:root
{
  --mainDarkPurple: #733380;
   --mainlightPurple: #914fa6;
   --mainPink: #da81b5;
   --mainYellow: #ffffbf;
   --mainOrange: #ff8242;
   --mainDark: #232528;


}

body {
  font-family: 'Open Sans', sans-serif !important;
  background: var(--mainYellow) !important;
  color: var(--mainDark);
}

.text-title {
  font-family: 'Caveat', cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;

}
.text-Purple {
  color: var(--mainDarkPurple);
}

.text-bright
{
  color: var(--mainlightPurple) ;
}