:root
{
  --mainDarkPurple: #733380;
   --mainlightPurple: #914fa6;
   --mainPink: #da81b5;
   --mainWhite: #ffffff;
   --mainOrange: #ff8242;
   --mainDark: #232528;


}

body {
  font-family: 'Open Sans', sans-serif !important;
  background: var(--mainPink) !important;
  
  color: var(--mainDark);
}

.text-title {
  font-family: 'Caveat', cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;

}
.text-Purple {
  color: var(--mainDarkPurple);
}

.text-bright
{
  color: var(--mainlightPurple) ;
}
.navbar {
  background-color: var(--mainDarkPurple);
}
.navbar-brand{
  width: 25%;
  height: 50%;
}